{{!-- Add Layout --}}
{{!< default}}
{{#post}}
<main>
  <div class="u-wrap">
    <section class="row">
      <div class="Post col s12 m8">
        {{!-- Post Content --}}
        <article class="Post-main row z-depth-1 white clear">
          <header class="Post-header clear">
            <div class="AuthorPost-top">{{#author}}<a href="{{url}}">{{name}}</a>{{/author}} 发表于 <time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}} </time></div>
            {{!-- Title Post --}}
            <h1 class="Post-title">{{title}}</h1>
            {{!-- Follow --}}
            <aside class=" Follow clear">
              <span class="texto">关注</span>
              <span class="fb"><div class="fb-like" data-href="https://www.facebook.com/magicoolx" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></span>
              <span class="tw"><a href="https://twitter.com/magicoolx" class="twitter-follow-button" data-show-count="true" data-lang="es" data-show-screen-name="false" data-dnt="true">@magicoolx</a></span>
            </aside>
            {{!-- Add Cover Img Post --}}
            {{#if image}}
            <figure class="Post-imgContent">
              <img src="{{image}}" alt="{{title}}" class="Post-img"/>
            </figure>
            {{/if}}
          </header>
           <section class="Post-content">
             {{content}}
           </section>
        </article>
        {{!-- Post Share --}}
        <aside class="row Share clear center">
          <h5 class="Share-title">如果你喜欢这篇文章,请分享你的意见和感受！</h5>
        </aside>
        {{!-- Add Auhor --}}
        {{#author}}
        <div class="row">
          <div class="AuthorPost card">
            <div class="card-content clear">
              <div class="col s12 m3">
                <a href="{{url}}" class="AuthorPost-img" >
                  <img class="u-avatar" src="{{#if image}}{{image}}{{else}}{{asset "img/user-image.png"}}{{/if}}" alt="{{name}}" />
                </a>
              </div>
              <div class="col s12 m9">
                {{!-- Add Name Author --}}
                <a class="AuthorPost-name" href="{{url}}">{{name}}</a>
                {{!-- biography of the author --}}
                {{#if bio}}<p>{{bio}}</p>{{/if}}
                <p>Magicool <a href="{{url}}"><strong>文章</strong></a></p>
                {{!-- Tag Meta Author --}}
                <div class="col s12 AuthorPost-meta">
                  {{#if location}}<span class="AuthorPost-location"> <i class="mdi-maps-place"></i> {{location}}</span>{{/if}}
                  {{#if website}} <span><a class="AuthorPost-web" href="{{website}}"><i class="mdi-social-public"></i> WebSite</a></span> {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/author}}
        {{!-- Add Comments --}}
        <div class="card">
          <div class="card-content">
            <h3 class="Comments-title">你的观点是什么?留言……</h3>
            


            <div class="Comments-all">
              <div class="fb-comments" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="10" data-colorscheme="light">

<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="{{url absolute="true"}}" data-title="{{ title }}" data-url="{{url absolute="true"}}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"blogmagicoolx"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'magicoolxblog';
    var disqus_identifier = '{{url absolute="true"}}';
    var disqus_title = '{{title}}';
    var disqus_url = '{{url absolute="true"}}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

              </div>
            </div>
          </div>
        </div>

      </div>
      {{!-- Add Sidebar --}}
      <div class="Sidebar col s12 m4">
        {{> "sidebar"}}
      </div>
    </section>
  </div>
</main>
{{/post}}
